/* Default styles */
nav {
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    background: transparent;
}

nav a:hover {
    box-shadow: 0 0 1rem #ffa5ab;
    color:#720026;
    background: #ffa5ab;
}

nav a.active {
    background: #ffa5ab;
    color: #720026;
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 0.5rem 1rem;
        bottom: 1rem;
    }
    nav a {
        padding: 0.7rem;
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav {
        padding: 0.6rem 1.2rem;
    }
    nav a {
        padding: 0.8rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1025px) {
    nav {
        padding: 0.7rem 1.7rem;
    }
    nav a {
        padding: 0.9rem;
        font-size: 1.1rem;
    }
}